# requirements.txt

numpy==1.24.3
scipy==1.10.1
scikit-learn==1.2.2
joblib==1.2.0
mkl-service==2.4.2
mkl-fft==1.4.1
mkl-random==1.2.10
six==1.16.0
certifi==2022.12.7
threadpoolctl==3.1.0
networkx==3.1
